.btn {
  color: var(--color-white);
  height: 37px;
  border-radius: 4px;
  padding: 0rem 1rem;
  border: none;
  font-weight: 600;
  cursor: pointer;
  &-primary {
    background: var(--main-color);
  }

  &-primary:disabled {
    background-color: var(--color-grey-soft);
  }

  &-secondary {
    background: var(--color-white);
    border: 1px solid var(--main-color);
    color: var(--main-color);
  }
}
