
:root {
    --main-color: #22BAA0;
    --color-dark: #34425A;
    --color-white: white;
    --color-grey: grey;
    --color-blue: #11a8c3;
    --color-red: rgb(237, 51, 51);

    // Texts
    --text-grey: #74767d;
}