
:root {
    --main-color: #22BAA0;
    --color-dark: #34425A;
    --color-white: white;
    --color-grey: grey;
    --color-grey-soft: rgb(181, 180, 180); ;
    --color-blue: #11a8c3;
    --color-red: rgb(237, 51, 51);
    --soft-background: #f1f4f9;

    // Texts
    --text-grey: #74767d;
}